html{
    font-size: 16px;
}

body{
    background-color: #121212;
    color: #FFFFFF;
    overflow-x: hidden;
}

.header-list{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-list li{
    width: calc(33.33vw);
    flex: 1;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-list li:hover{
    background-color: #424242;
}

.intro-paragraph{
    position: relative;
    margin: 0;
    padding: 0;
    font-face: Arial;
    font-size: 3rem;
    top: 125px;
    left: 50px;

    //Animation
    opacity: 0;
    /* transform: translateX(-50); */
    animation: fadeInFromLeft 1s forwards;
}

.intro-name{
    margin: 0;
    padding: 0;
    position: relative;
    top: 123px;
    left: 50px;
    font-size: 3em;
    width: 400px;
    
    //animation
    opacity: 0;
    animation: fadeInFromLeft 1s forwards;

}

@keyframes fadeInFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 320px) and (max-width: 420px){
    .header-list{
        width: 100%;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .header-list li{
        flex: 1;
        width: calc(33.33vw);
        text-align: center;
        align-items: center;
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .intro-paragraph{
        width: 75%;
    }
}