html{
    font-size: 16px;
}

body{
    background-color: #121212;
    color: #FFFFFF;
}

.header-list{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header-list li{
    width: calc(33.33vw);
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-list li:hover{
    background-color: #424242;
}

.intro-paragraph{
    font-size: 4rem;
}

@media (min-width: 320px) and (max-width: 420px){
    .header-list li{
        width: calc(33.33vw);
        text-align: center;
        align-items: center;
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-list li:hover{
        background-color: #424242;
    }
}